/* Archivo con los estilos principales del componente de formulario */

/* Estilo del input para el telefono */
.PhoneInputInput{
    outline: none;
    border: 0;
    background: transparent;
    font-family: Poppins;
}

/* Bordeado de los campos del formulario */
.BorderFormNewUser{
    border-radius: 30px !important;
}

/* Bordeado a la calse de primereact/plantilla */
.p-inputtext{
    border-radius: 30px ;
}

/* Estilos para el contenedor de correo */
.mail-container{
 margin: 0 !important;
 padding: 0 !important;
}

/* Estilos para la imagen de fondo del formulario */
.bodyForm{
    background-repeat: no-repeat;
    background-size: cover;
}

/* Referencia a cada una de las posibles imagenes de fondo */
.bodyForm-image-1{
  background-image: url('/images/Fondos/Fondo2.jpg');
}
.bodyForm-image-2{
  background-image: url('/images/Fondos/Fondo4.jpg');
}
.bodyForm-image-3{
  background-image: url('/images/Fondos/Fondo3.jpg');
}
.bodyForm-image-4{
  background-image: url('/images/Fondos/Fondo5.jpg');
}


/* Transparencia a la carta de formulario de registro */
.cardForm{
    background: rgba(255, 255, 255, 0.678);
}

/* Animacion para el componente de carga */
.tracking-in-contract{
    -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both infinite;
	        animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both infinite;
}

@media (min-width: 1700px) {
    .bodyForm {
        height: 100vh;
    }
  }

  @-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
      }
      20% {
        opacity: 0.6;
      }
      50% {
        letter-spacing: normal;
        opacity: 1;
      }
      70% {
          opacity: 0.6;
      }
      100% {
          letter-spacing: 1em;
          opacity: 0;
      }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    20% {
      opacity: 0.6;
    }
    50% {
      letter-spacing: normal;
      opacity: 1;
    }
    70% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: 1em;
        opacity: 0;
    }
  }